@model Sport.Models.Station

@{
    ViewBag.Title = "Sil";
}


<h3>Stansiyanı silmək istədiyinə əminsən?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            @Html.ActionLink("Siyahıya qayıt", "index")
        </div>
    }
</div>
