@model Sport.Models.Category

@{
    ViewBag.Title = "Məkan növü detalları";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Dəyiş", "edit", new { id = Model.Id }) |
    @Html.ActionLink("Siyahıya qayıt", "index")
</p>
