
@{
    ViewBag.Title = "Index";
}

<main>
    <section id="about">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-lg-12 iHead">
                    <h2>Haqqımızda</h2>
                </div>
                <div class="col-lg-3 text-center iHead">
                    <span></span>
                    <span class="sec"></span>
                </div>
            </div>
            <div class="col-lg-12 about mb-5 mekanlar">
                <span>idmanchi.az haqqında</span>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, hic! Voluptatem eos autem
                    voluptates possimus quaerat, beatae expedita quasi accusantium aliquam veritatis deleniti nulla,
                    corrupti necessitatibus. Magnam deleniti facilis temporibus?Lorem ipsum dolor sit amet
                    consectetur, adipisicing elit. Dolores ab tenetur esse cupiditate corporis possimus quisquam
                    molestiae libero? Ullam aliquid minima sapiente odit maiores omnis distinctio recusandae aut.
                    Officiis, repellat!Lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis
                    assumenda error earum nihil numquam ipsam delectus deserunt impedit dicta cum, blanditiis
                    aliquid quibusdam laborum quaerat ad magni expedita illo labore. Lorem ipsum dolor, sit amet
                    consectetur adipisicing elit. Perspiciatis hic velit quisquam ex, delectus, soluta asperiores a
                    quidem fugit neque voluptatum dignissimos omnis ea repudiandae dolores itaque vero aperiam
                    ipsum.
                </p>
            </div>
            <div class="col-lg-12 about mb-5 mekanlar">
                <span>Promokod haqqında</span>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, hic! Voluptatem eos autem
                    voluptates possimus quaerat, beatae expedita quasi accusantium aliquam veritatis deleniti nulla,
                    corrupti necessitatibus. Magnam deleniti facilis temporibus?Lorem ipsum dolor sit amet
                    consectetur, adipisicing elit. Dolores ab tenetur esse cupiditate corporis possimus quisquam
                    molestiae libero? Ullam aliquid minima sapiente odit maiores omnis distinctio recusandae aut.
                    Officiis, repellat!Lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis
                    assumenda error earum nihil numquam ipsam delectus deserunt impedit dicta cum, blanditiis
                    aliquid quibusdam laborum quaerat ad magni expedita illo labore. Lorem ipsum dolor, sit amet
                    consectetur adipisicing elit. Perspiciatis hic velit quisquam ex, delectus, soluta asperiores a
                    quidem fugit neque voluptatum dignissimos omnis ea repudiandae dolores itaque vero aperiam
                    ipsum.
                </p>
            </div>
        </div>
    </section>
</main>

