
@{
    ViewBag.Title = "Index";
}

<main>
    <section id="headBg">
        <div class="container">
            <div class="row justify-content-center" style="margin: 0">
                <div class="col-lg-12 iHead iHead2">
                    <h2>Məkanlar</h2>
                </div>
                <div class="col-lg-4 text-center iHead iHead2">
                    <span></span>
                    <span class="sec"></span>
                </div>
            </div>
        </div>
    </section>
    <section id="mainCategories">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-12">

                    <!-- mekanlar -->
                    <div class="categories iCat mr-3">
                        <select id="selecting" class="kombat">
                            <option selected class="d-none">Məkanlar</option>
                            <option value="1">Fitness zalları</option>
                            <option value="2">Futbol meydançaları</option>
                            <option value="3">Təkbətək idman növləri</option>
                            <option value="4">Hovuzlar</option>
                            <option value="5">Mağazalar</option>

                        </select>
                    </div>

                    <!-- novler -->
                    <div class="categories sport-type mr-3 d-none">
                        <select id="selecting">
                            <option selected class="d-none">İdman növü</option>
                            <option value="1">Boks</option>
                            <option value="2">Kikboks</option>
                            <option value="3">Güləş</option>
                            <option value="4">Cüdo</option>
                            <option value="5">Karate</option>
                            <option value="6">Taekvondo</option>
                            <option value="7">Qaydasız döyüş</option>
                        </select>
                    </div>

                    <!-- magazalar -->
                    <div class="categories shop-type mr-3 d-none">
                        <select id="selecting">
                            <option selected class="d-none">Mağaza növü</option>
                            <option value="1">İdman malları</option>
                            <option value="2">İdman alətləri</option>
                            <option value="3">İdman qidaları</option>
                        </select>
                    </div>

                    <!-- sechim -->
                    <div class="categories iSelect mr-3">
                        <select id="selecting">
                            <option selected class="d-none">Metro / Rayon</option>
                            <option value="1">Metro üzrə</option>
                            <option value="2">Rayon üzrə</option>
                        </select>
                    </div>

                    <!-- metrolar -->
                    <div class="categories metrolar mr-3 d-none">
                        <select id="selecting">
                            <option selected class="d-none">Metro</option>
                            <option value="1">Dərnəgül</option>
                            <option value="2">Azadlıq prospekti</option>
                            <option value="3">Nəsimi</option>
                            <option value="4">Memar Əcəmi</option>
                            <option value="5">20 yanvar</option>
                            <option value="6">İnşaatçılar</option>
                            <option value="7">Elmlər akademiyası</option>
                            <option value="8">Nizami</option>
                            <option value="9">28 may</option>
                            <option value="10">Xətai</option>
                            <option value="11">Gənclik</option>
                            <option value="12">Nəriman Nərimanov</option>
                            <option value="13">Ulduz</option>
                            <option value="14">Koroğlu</option>
                            <option value="15">Qara Qarayev</option>
                            <option value="16">Neftçilər</option>
                            <option value="17">Xalaqlar dostluğu</option>
                            <option value="18">Əhməhli</option>
                            <option value="19">Həzi Aslanov</option>




                        </select>
                    </div>

                    <!-- rayonlar -->
                    <div class="categories rayonlar mr-3 d-none">
                        <select id="selecting">
                            <option selected class="d-none">Rayon</option>
                            <option value="1">Binəqədi</option>
                            <option value="2">Xətai</option>
                            <option value="3">Xəzər</option>
                            <option value="4">Qaradağ</option>
                            <option value="5">Nərimanov</option>
                            <option value="6">Nəsimi</option>
                            <option value="7">Nizami</option>
                            <option value="8">Pirallahı</option>
                            <option value="9">Sabunçu</option>
                            <option value="10">Səbail</option>
                            <option value="11">Suraxanı</option>
                            <option value="12">Yasamal</option>
                        </select>
                    </div>


                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row iCard">

                        <div class="col-lg-3 col-sm-6 mb-5">
                            <div class="card">
                                <div class="photo">
                                    <img src="img/ftnss.jpg" class="card-img-top">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Asdfgh fitness zalı</h5>
                                    <p class="card-text">Bakı , Nəsimi r. , A.Sdfgh küç 31</p>
                                    <span>50 AZN</span>
                                    <a href="more.html" class="iBtn mt-3">Ətraflı</a>
                                </div>
                                <span class="sale">
                                    10% endirim
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-5">
                            <div class="card">
                                <div class="photo">
                                    <img src="img/ftnss3.jpg" class="card-img-top">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Asdfgh fitness zalı</h5>
                                    <p class="card-text">Bakı , Nəsimi r. , A.Sdfgh küç 31</p>
                                    <span>50 AZN</span>
                                    <a href="more.html" class="iBtn mt-3">Ətraflı</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-5">
                            <div class="card">
                                <div class="photo">
                                    <img src="img/ftnss2.jpg" class="card-img-top">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Asdfgh fitness zalı</h5>
                                    <p class="card-text">Bakı , Nəsimi r. , A.Sdfgh küç 31</p>
                                    <span>50 AZN</span>
                                    <a href="more.html" class="iBtn mt-3">Ətraflı</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-5">
                            <div class="card">
                                <div class="photo">
                                    <img src="img/safasf.jpg" class="card-img-top">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Asdfgh fitness zalı</h5>
                                    <p class="card-text">Bakı , Nəsimi r. , A.Sdfgh küç 31</p>
                                    <span>50 AZN</span>
                                    <a href="more.html" class="iBtn mt-3">Ətraflı</a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="row pag">
                <div class="col-lg-12 text-center">
                    <ul>
                        <li class="prev disabled">
                            <a href="#" tabindex="-1"><i class="fas fa-angle-left"></i></a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li class="selected"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li class="next"><a href="#"><i class="fas fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>

