body {
    font-family: $font;
    color: $black;
    background-color: $bg;
    @include transition(0.5s);  
}
a {
    color: $black;
    display: inline-block;
    &:hover {
        text-decoration: none;
        color: $black;
    }
}
ul {
    margin: 0;
}
li {
    list-style-type: none;
}
section {
    padding: 60px 0px;
}

//scrollbar
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: $main; 
}
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darken($main,10); 
}
