
@{
    ViewBag.Title = "Index";
}

<main>
    <section id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 iHead">
                    <h2>Əlaqə</h2>
                </div>
                <div class="col-lg-3 text-center iHead">
                    <span></span>
                    <span class="sec"></span>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-md-5 mt-5 exm mekanlar">
                    <form class="iForm">
                        <input id="name" type="text" placeholder="Ad, Soyad">
                        <input id="mail" type="email" placeholder="E-poçt">
                        <textarea id="text" placeholder="Məzmun"></textarea>
                        <div class="sbm text-right">
                            <button type="submit" class="iBtn">Göndər</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-5 mt-5 cntct exm mekanlar">
                    <div>
                        <div class="cn phone">
                            <i class="fas fa-phone"></i>
                            <a href="#">0555555555</a>
                        </div>
                        <div class="cn mail">
                            <i class="fas fa-envelope"></i>
                            <a href="#">idmanchiaz@gmail.com</a>
                        </div>
                        <div class="cn facebook">
                            <i class="fab fa-facebook-f"></i>
                            <a href="#">www.facebook.com/idmanchi.az</a>
                        </div>
                        <div class="cn instagram">
                            <i class="fab fa-instagram"></i>
                            <a href="#">@@idmanchi.az</a>
                        </div>
                        <div class="cn whatsapp">
                            <i class="fab fa-whatsapp"></i>
                            <a href="#">0777777777</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

