
@{
    ViewBag.Title = "Index";
}


<main>
    <section id="headBg" class="healthIndex">
        <div class="container">
            <div class="row justify-content-center m-0">
                <div class="col-lg-12 iHead iHead2">
                    <h2>Sağlamlıq</h2>
                </div>
                <div class="col-lg-4 text-center iHead iHead2">
                    <span></span>
                    <span class="sec"></span>
                </div>
            </div>
        </div>
    </section>
    <section id="mainHealth">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row mekanlar">
                        <div class="col-lg-3 col-sm-6 mb-5">
                            <div class="healthCard iTilt">
                                <div class="cardHead">
                                    <a href="programs.html" class="cardBg">
                                        <img src="/Public/img/health/programs2.jpg">
                                    </a>
                                    <h2><a href="programs.html">Məşq proqramları</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-5">
                            <div class="healthCard iTilt">
                                <div class="cardHead">
                                    <a href="calculation.html" class="cardBg">
                                        <img src="/Publicimg/health/calculate.jpg">
                                    </a>
                                    <h2><a href="calculation.html">Hesablamalar</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-5">
                            <div class="healthCard iTilt">
                                <div class="cardHead">
                                    <a href="nutrition.html" class="cardBg">
                                        <img src="/Publicimg/health/food.jpg">
                                    </a>
                                    <h2><a href="nutrition.html">Qidalar</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-5">
                            <div class="healthCard iTilt">
                                <div class="cardHead">
                                    <a href="motivation.html" class="cardBg">
                                        <img src="/Publicimg/health/motivation.jpg">
                                    </a>
                                    <h2><a href="motivation.html">Motivasiya</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>